@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1641967612516') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ziti:before {
  content: "\f00cb";
}

.icon-qingchu:before {
  content: "\e747";
}

.icon-xinxi:before {
  content: "\e763";
}

.icon-guanyuwomen:before {
  content: "\e605";
}

.icon-fangwuxinxi:before {
  content: "\e60b";
}

.icon-tubiao-dianchiman:before {
  content: "\e630";
}

.icon-tubiao-dianchikuang:before {
  content: "\e631";
}

.icon-changyongxinxi:before {
  content: "\e886";
}

.icon-huiyi:before {
  content: "\e60d";
}

.icon-sousuo:before {
  content: "\e632";
}

.icon-biyanjing:before {
  content: "\e901";
}

.icon-tongji:before {
  content: "\e64a";
}

.icon-lingdang:before {
  content: "\e619";
}

.icon-wenjian:before {
  content: "\e760";
}

.icon-wenhao:before {
  content: "\eae2";
}

.icon-sousuo1:before {
  content: "\eafe";
}

.icon-xinhao:before {
  content: "\e6b5";
}

.icon-xinfeng:before {
  content: "\e627";
}

.icon-tijiaochenggong:before {
  content: "\e72e";
}

.icon-gongjuxiang:before {
  content: "\e611";
}

.icon-jilu_:before {
  content: "\e683";
}

.icon-wenjian_excel:before {
  content: "\e60e";
}

.icon-wenjian_txt:before {
  content: "\e60f";
}

.icon-wenjian_ppt:before {
  content: "\e610";
}

.icon-wenjian_pdf:before {
  content: "\e612";
}

.icon-wenjian_word:before {
  content: "\e613";
}

.icon-jiankang:before {
  content: "\e614";
}

.icon-yewu:before {
  content: "\e62c";
}

.icon-file-image-fill:before {
  content: "\e629";
}

.icon-kaoqinguanli:before {
  content: "\e66a";
}

.icon-shoucang:before {
  content: "\e8b9";
}

.icon-yuan:before {
  content: "\e615";
}

.icon-gengxin:before {
  content: "\e74b";
}

.icon-diqiu:before {
  content: "\e633";
}

.icon-phone-signal-full:before {
  content: "\e956";
}

.icon-icon_yingjixinwen:before {
  content: "\e634";
}

